/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.container1
{
    height: 180px;
    background-color: #f2f2f2;
}
.first-part
{
   display: inline-block; 
   width:941px;


}
.second-part
{
    display:inline-block;
    width:calc(100%-941px);

}
.container2
{
    height: 180px;
    background-color: #f2f2f2;
    
}
.container3
{
    height: 180px;
    background-color: #f2f2f2;
   

  
    
}